// Global stylesheet specs
html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    font-size: $font-sm;
    font-weight: $light;
    color: $black;
    line-height: 1.3;
    position: relative;
    background-image: $bg-mobile;
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 2.1875rem;
    scroll-behavior: smooth;
    overflow-x: hidden;

    @include breakpoints-up(small) {
        font-size: $font-sm;
        background-image: $bg-desktop;
        background-size: auto;
    }

    &.noscroll {
        overflow: hidden;
    }
}

a, a:hover, a:visited, a:active {
    text-decoration: none;
    color: $black;
}

h1, h2, h3 {
    font-weight: $bold;
    margin: 0;
}

p {
    margin: 0;
    font-size: $font-sm + 0.0625;

    @include breakpoints-up(large) {
        font-size: $font-l;
    }
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: 0.875rem;
    height: 3rem;

    @include breakpoints-up(large) {
        font-size: $font-xlg;
        height: auto;
    }
}

h2 {
    font-size: $font-md;
    margin-bottom: 0.75rem;

    @include breakpoints-up(large) {
        font-size: $font-xl;
    }
}

h3 {
    font-size: $font-md;
    font-weight: 400;
    margin-bottom: 0.4rem;

    @include breakpoints-up(large) {
        color: white;
    }
}

.container {
    margin-left: 6.4vw; // 24px
    max-width: 1366px;

    @include breakpoints-up(medium) {
        margin-left: 6.22vw; //85px
        max-width: 1366px;

    }
}

.hline { // Horizontal Line
    width: 40px;
    height: 0px;
    border: 1px solid $grey;
    margin-right: 1rem;
}

.flex { // Flexbox
    display: flex;

    &-jc-c {
        justify-content: center;
    }

    &-ac-c {
        align-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

.social-icon {
    height: 24px;
    width: 24px;
    margin-right: 1rem;

    @include breakpoints-up(medium) {
        margin-bottom: 2.5625rem;
        margin-right: 0;
    }
}

.lg { // Helper class to set height of icons
    height: 15px;
}

header {
    margin-bottom: 3.5rem;
    a {
        font-weight: $bold;
    }
}

section {

    span {
        color: $greenShade;
        font-weight: $medium;
        font-size: $font-md;
    }

    > h1 {
        margin-top: 1.2rem;
    }

    > p {
        width: 250px;
        height: 39px;

        @include breakpoints-up(large) {
            width: 350px;
        }
    }

    .profile-pic {
        height: 31.1875rem;
        width: 21.5rem;
        position: absolute;
        margin-top: 0.65rem;

        img {
            position: relative;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .cbar {
        margin-top: 5.5rem;

        span {
            font-size: $font-sm;
            font-weight: $bold;
            color: $black;
        }
    }

    .contact {
        margin-top: 1rem;

        .info {
            margin-bottom: 1rem;
        }
    }
}

footer {
    margin-top: 14rem;
    margin-left: 6.4vw; // 24px
    display: flex;
    align-content: center;

    @include breakpoints-up(medium) {
        position: absolute;
        right: 7.1875rem;
        bottom: -4.3125rem;
        margin: 0;
        flex-direction: column;
        width: 1.5rem;
    }
    
    .fbar {
        color: white;
        margin-right: 2.2rem;

        @include breakpoints-up(medium) {
            flex-direction: column;
            margin-bottom: 2.25rem;
            height: 200px;
        }

        .ftext {
            font-size: 1rem;
            font-weight: $bold;
            margin-right: 1rem;

            @include breakpoints-up(medium) {
                transform: rotate(90deg);

            }
        }

        > .hline {
            border: 1px solid white;
            transform: rotate(90deg);
        }
    }

    .social-links {

        @include breakpoints-up(medium) {
            flex-direction: column;
        }
    }
}


